################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
bin
obj
/src/DotnetTool/TestResults/7923910d-894a-4327-863a-0edd311c6a05
